*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    background-color: rgb(63, 64, 65);
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

#apendHere img {
    width: 150px;
    height: 200px;
}

#apendHere{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
}
#apendHere>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
#apendHere>div>h3{
    margin: 20px 0px;
    text-align: left;
}
#apendHere>div>p{
    text-align: left;
}
#navbar input{
    padding: 6px 8px;
}
#navbar select{
    padding: 7px 5px;
}
.forShow{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}